*{
    color: wheat;
}
#navbar{
    display: flex;
    padding: 25px 0px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(48, 48, 48)
}
.navbar-option{
    list-style: none;
    background-color: rgb(39, 36, 36);
    padding: 15px 40px;
}
.dropdown-option{
    position: relative;
}
.dropdown{
    box-sizing: border-box;
    display: block;
    position: absolute;
    padding: 0;
    top: 100%;
    width: 100%;
    left: 0;
    list-style: none;
    background-color: rgb(54, 54, 54);
}
.dropdown-content-option{
    display: block;
    padding: 8px 15px;
    background-color: rgb(102, 86, 86);
}